/*https://colors.muz.li/palette/f7a400/3a9efd/3e4491/292a73/1a1b4b Color Palette plus #e55555*/
/*    -fx-background-color: #1a1b4b;
*/
.root{

    -fx-background-color: linear-gradient(to bottom, #1a1b4b, #3e4491);
    -fx-font-family: Waseem;
    -fx-border-color: #3e4491;
    -fx-text-fill: #e55555;
}
.label{
    -fx-text-fill: #e55555;
}

.button{
    -fx-font-size: 24px;
    -fx-background-color: #1a1b4b;
    -fx-text-fill: #e55555;
}
.button:hover {
    -fx-background-color: #1c1d52;
    -fx-scale-y: 1.1;
}
.button:pressed {
    -fx-background-color: #3e4491;
    -fx-scale-y: 1.1;
}
.table-view{
    -fx-background-color: #292a73;
    -fx-text-fill: #e55555;
}
.table-cell{
    -fx-background-color: #3e4491;
    -fx-text-fill: #e55555;
    -fx-border-color: #e55555;
    -fx-padding: 2 0 2 10px;
}
.table-cell .filler{
    -fx-background-color: #3e4491;
    -fx-text-fill: #e55555;
    -fx-border-color: #e55555;
    -fx-padding: 2 0 2 10px;
}
.table-view .column-header {
    -fx-background-color: #3e4491;
    -fx-font-size: 12;
    -fx-border-color: #e55555;
}
.table-view .column-header .label {
    -fx-text-fill: #e55555;
}
.table-view .column-header-background .filler {
    -fx-background-color: #3e4491;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: linear-gradient(to bottom, #1a1b4b, #3e4491);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(to bottom, #1a1b4b, #3e4491);
}
.slider .axis{
    -fx-background-color: linear-gradient(to bottom, #23255b, #2d306e);
    -fx-tick-label-fill: #e55555;
    -fx-tick-length: 10px;
}
.slider .track{
    -fx-background-color: #e55555;
}

#titleRect{
    -fx-fill: #3e4491;
    -fx-stroke: #e55555;
    -fx-stroke-width: 1;
}
#toolB {
    -fx-background-color: linear-gradient(to bottom, #373c82, #3b3f8a);
    /*#292a73*/
}
#title{
    -fx-text-fill: #e55555;
    -fx-font-family: Bahnschrift;
    -fx-font-size: 18;
}